
.img {

position: relative;

}

.hover_img,.text2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    }

    .img:hover .hover_img {
        display: inline;
        
        }
.img:hover .text2{
    display: inline;
}
.text {
            color: black;
            font-size: 20px;
            font-weight: bold;
            position:absolute;
            top: 17px;
            left: 270px;
    }
.text2 {
            color: black;
            font-size: 20px;
            font-weight: bold;
            position:absolute;
            top: 17px;
            left: 270px;
        }